@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
:root{
    --branco:white;
    --cor-de-fundo:#021a33;
    --fundo-senha:#372877c2;
    --fundo-texto:#091e72;
    --borda:#8e62c3;
    --fonte-principal:'Cormorant',monospace;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
}
.conteudo-titulo{
    text-align: center;
}
*{
   font-weight: 400;
}
.conteudo-senha{
    margin-top: 80px;
    background-color: var(--fundo-senha);
    padding: 24px;
    border-bottom: 6px solid var(--borda);
}
#campo-senha{
    background-color: var(--fundo-senhas);
    border: nome;
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 40px;
    width: 70%;
}
.titulo-principal{
    font-family: var(--fonte-principal);
    font-size: 32px;
}
.titulo-secundario{
    font-size: 24px;
}
img{
    width: 7%;
    height: 7%;
}
#campo-senha:focus{
    outline: none;
}
.parametro{
    background-color: var(--fundo-texto);
    border: 2px solid var(--branco);
    margin-top: 32px;
    padding: 24px;
}
.parametro-titulo{
    font-family: var(--fonte-principal);
    font-size: 28px;
}
.parametro-senha-titulo{
    font-size: 24px;
}
.parametro-coluna-senha{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.paramentro-senha{
    width: 50%;
    margin: 0 auto;
}
.paramentro-senha-botoes{
    display: flex;
    justify-content: center;
}
.paramentro-senha-botao{
    background-color: var(--fundo-texto);
    color: var(--branco);
    border: 2px solid var(--borda);
    padding: 24px;
    font-size: 24px;
    cursor: pointer;
}
.paramentro-senha-texto{
    padding: 24px;
    border-top: 2px solid var(--borda);
    border-bottom: 2px solid var(--borda);
    margin: 0;
}
label{
    font-size: 20px;
}
@media screen and (min-width: 768px) {
    .parametro-coluna-senha{
        flex-direction: row;
    }